@include b( container ) {

  @include m( hero ) {
    position: relative;
    min-height: rem( 600px );
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    filter: grayscale(1);
    &::before {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparentize( $color-darkest, .7 );
      content: '';
    }
    .grid {
      position: relative;
    }
  }
}
